
.header_container{
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
}
.header_cta_section{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
}
.header_cta_section ul li{
    list-style: none;
    font-style: normal;

}
.header_cta_section ul li a{
    color: #1f4b43;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 14;
    /* font-family:"Courier New", Courier, Manrope; */
}
.desktop_logo{
    display: block;
    padding-left:0px;
}
.mobile_logo{
    display: none;
}
.menu{
    padding-left: 10px;
    display: block;
}


@media (max-width: 768px) 
{
    .header_container{
      justify-content: space-between;
      padding: 0;
    }
    .desktop_logo{
        display: none;
    }
    .mobile_logo{
        display: block;
    }
    .menu{
        padding-left: 10px;
        display: block;
    }
    .header_cta_section{
        padding-right: 10px;
        flex-direction: row;
        gap: 10px;
    }
    .header_cta_section ul li{
        list-style: none;
        font-style: normal;
    
    }
    .header_cta_section ul li a{
        color: #1f4b43;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: normal;
        font-size: 14;
        /* font-family:"Courier New", Courier, manrope; */
    }
     
}