
.sub_hero_section_container{
    background-color: #1F4B43;
    color: #fff;
    height: 236px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
}
.sub_hero_section_text{
    text-align: left;
}

